$black: #000;
$navy: #252e65;
$share-navy: #0f193c;
$dark-blue: #152760;
$white: #fff;

$svg-white-stroke: #fcfdff;
$shields-light-orange: #ffa800;
$shields-dark-orange: #ff6f00;
$rgba-white-full: rgba(255, 255, 255, 1);
$rgba-white-partial: rgba(255, 255, 255, 0.75);
$rgba-white-transparent: rgba(255, 255, 255, 0);
$rbga-navy-half: rgba(15, 25, 60, 0.5);
$rbga-navy-mostly: rgba(15, 25, 60, 0.75);