@font-face {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-style: normal;
  src: url('~@/assets/fonts/RobotoMono-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-style: italic;
  src: url('~@/assets/fonts/RobotoMono-LightItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
  src: url('~@/assets/fonts/RobotoMono-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: italic;
  src: url('~@/assets/fonts/RobotoMono-RegularItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-style: normal;
  src: url('~@/assets/fonts/RobotoMono-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight:500;
  font-style: italic;
  src: url('~@/assets/fonts/RobotoMono-MediumItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 700;
  font-style: normal;
  src: url('~@/assets/fonts/RobotoMono-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight:700;
  font-style: italic;
  src: url('~@/assets/fonts/RobotoMono-BoldItalic.ttf')  format('truetype');
}